@{
    //this is where we specify the name of the view using Iactionable
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

@*ViewData["Title"] = "Movie List"; in the code above sets the Title property of the 
ViewData dictionary to "Movie List". The Title property is used in the <title> 
    HTML element in the layout page:*@

